<div class="all">
    <div class="container-fluid" style="overflow: auto;">
        <div class="row">
            <i class="fa fa-home" aria-hidden="true"></i>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <img src="../../assets/avatar2.png" alt="Avatar">
                    <div class="card-container">
                        <p class="text-t1">Raghav Sharma</p>
                        <span class="text-t2 text-muted">Application Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="container column-2">
                    <h1 class="text-primary underln">About This Web App</h1>
                    <br>
                    <ul class="text-muted">
                        <li><h5>HTML5 used as template</h5></li>
                        <li><h5>CSS used for styling</h5></li>
                        <li><h5>Typescript used for Logical functionality</h5></li>
                        <li><h5>Angular as Framework</h5></li>
                        <li><h5>NodeJs for Backend</h5></li>
                        <li><h5>MongoDB as Database</h5></li>
                        <li><h5>Bootstrap4 for resposive behaviour in addition to CSS</h5></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="row container">
            <div>
                <h1 class="text-primary underln" style="text-align:  center;">About Me</h1>
                <h3 class="text-danger tech-text"><strong>Technical Skills</strong></h3>
            </div>
            <table class="table table-hover table-bordered table-sm">
                <tbody>
                    <tr>
                        <th>Hardware / Platforms</th>
                        <td>Windows, Linux</td>
                    </tr>
                    <tr>
                        <th>Front-end Tech</th>
                        <td>Angular 8/6/4, HTML5, CSS3, Bootstrap, JavaScript, TypeScript</td>
                    </tr>
                    <tr>
                        <th>Back-End</th>
                        <td>NodeJs, Express</td>
                    </tr>
                    <tr>
                        <th>Database</th>
                        <td>MySQL Mongo DB</td>
                    </tr>
                    <tr>
                        <th>Tools</th>
                        <td>Visual Studio, VS Code, Post Man, Compass</td>
                    </tr>
                    <tr>
                        <th>Version Control Systems</th>
                        <td>Git, Bitbucket</td>
                    </tr>
                    <tr>
                        <th>Build Tools / Package Manager</th>
                        <td>Jenkins, SonarQube, Clarive, NPM, Angular cli, Bower, Grunt</td>
                    </tr>
                </tbody>
            </table>

            <div>
                <h3 class="text-danger tech-text"><strong>Education</strong></h3>
            </div>
            <table class="table table-hover table-bordered table-sm table-responsive-md">
                <tbody>
                    <tr>
                        <th>Examination</th>
                        <th>Year of Passing</th>
                        <th>University/Board</th>
                        <th>Percentage/CGPA</th>
                    </tr>
                    <tr>
                        <td>B.E in Computer Science & Engineering</td>
                        <td>2020</td>
                        <td>Jadavpur University</td>
                        <td>7.2 CGPA</td>
                    </tr>
                    <tr>
                        <td>HSC</td>
                        <td>2016</td>
                        <td>DBN Amar Villa, Jammu</td>
                        <td>90.6 %</td>
                    </tr>
                    <tr>
                        <td>SSC</td>
                        <td>2014</td>
                        <td>SOS HGS, Jammu</td>
                        <td>9.6 CGPA</td>
                    </tr>
                </tbody>
            </table>
            <br><br>
        </div>
    </div>
</div>