.all{
    background-color: rgba(17, 161, 228, 0.027);
    height: 100%;
    width: 100%;
}
.fa{
    padding-left: 3rem;
    font-size: 6rem !important;
    color: rgba(0, 153, 255, 0.911);
}
.container-fluid{
    width: 80%;
    margin-top: 1.5rem;
}

.card {
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: auto;
    height: auto;
    margin: 1rem;
    font-family: sans-serif;
    border-radius: 1.5rem;
    border: 2px solid rgba(0, 153, 255, 0.911);
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.39);
}
.card-container {
    padding: 2px 16px;
    margin-bottom: 1rem;
    align-items: center;
}
img{
    margin: 1rem;
    width: 60%;
    height: auto;
    border-radius: 4rem;
}
.text-t1{
    font-size: 1.6rem;
    font-weight: bold;
}
.text-t2{
    font-size: 1.3rem;
}
.tech-text{
    margin-top: 2rem;
}
.underln{
    text-decoration: underline;
    text-decoration-color: rgba(34, 32, 32, 0.445);
}

.column-1{
    margin: 1rem;
    margin-top: 1.5rem;
}
.column-2{
    margin-top: 1.5rem;
}

@media screen and (max-width: 1280px) {
    .text-t1{
        font-size: 1.3rem;
    }
    .text-t2{
        font-size: 1rem;
    }
    .card-container {
        padding: 0;
    }
    .container-fluid{
        width: 100%;
    }
}
@media screen and (max-width: 575px) {
    .fa{
        font-size: 3em !important;
        padding-left: 3rem !important;
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: auto;
        height: auto;
    }
}