.container{
    margin: 3rem;
    border: 1px solid gray;
    height: 10rem;
    width: auto;
}
.custom1{
    margin-bottom: 0;
}
.custom2{
    margin-top: 0;
    color: rgba(51, 26, 26, 0.678);
}
span{
    margin-left: 0.3rem;
    font-weight: bolder;
    font-size: 2rem;
}
.fa{
    font-size: 7em !important;
}
@media screen and (max-width: 575px) {
    .fa{
        font-size: 3em !important;
    }
    span{
        font-size: 1.2rem;
    }
    .container{
        height: 7rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}